NEXT_PUBLIC_RPC_URL=https://soroban-testnet.stellar.org
NEXT_PUBLIC_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
NEXT_PUBLIC_SCHEMA_REGISTRY_ID=your_schema_registry_contract_id
NEXT_PUBLIC_ATTESTER_ID=your_attester_contract_id
NEXT_PUBLIC_INDEXER_URL=http://localhost:3001
